html,body{
    width: 100%;
    height: 100%;
}

.header{}

.subtit{
    margin: 6px 0;
    border-bottom-color: #f0f0f0;
    /*padding: 12px 4px 2px 4px;*/
    color: #999;
    font-weight: bold;
    border-bottom: solid 1px #f5f5f5;
    border-bottom-color: rgb(245, 245, 245);
    clear: both;
    float: left;
}

.centre{width:90%; /*border: 1px solid #ddd;*/ margin: 0 auto 15px;}
.centre .editormd_essay_title{ margin: 0 auto 15px; }
.centre .editormd_essay_title .systemid{ display:none;}
.centre .editormd_essay_title .title{
    float: left;
    padding-right: 85px;
}
.centre .editormd_essay_title .title_pdf{
    float: left;
}
.centre .editormd_essay_title select{
    margin: 6px 0;
}
.centre .editormd_essay_title input{
    margin: 6px 0;
}
.centre .editormd_essay_title #selType{
   /* padding: 2px;*/
    height: 25px;
    /*margin-right: 2px;*/
}
.centre .editormd_essay_title  #document_type {
    /*margin: 2px 4px 10px 4px;*/
    height:25px;
    width: 100px;
}
.centre .editormd_essay_title #txtTitle{
    width:240px;
    height:25px;
}
.centre .editormd_essay_title #txtPDF{
    width:220px;
    height:25px;
}

.centre .editor_content{

}
.centre .editor_content #my-editormd textarea{
   /* display:none;*/
}


button{
    background: url(/images/button/btn_2.gif) repeat-x
}
.centre .editormd_submit{
    margin:0 auto;
    padding: 30px 0 14px 30px;
    background: url(/images/button/btnarea_bg.gif) repeat-x top;
    text-align: left;
}
.center{
    margin:auto;
}
.centre .editormd_submit .center{
    width: 500px;
}

.centre .editormd_submit button{
    width: auto;
    height: 45px;
    padding: 0 15px;
    border: none;
    background: url(/images/button/btn_2.gif) repeat-x 0;
    color: #fff;
    font: bold 12px/30px Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}

.centre .editormd_submit #submit{
    width: 90px;
}
.centre .editormd_submit #submit_close{
margin-left: 35px;
}
.centre .editormd_submit #close{
    width: 90px;
    margin-left: 35px;
}


.footer{}