a:link {
    font-size: 12px;
    color: #4183c4;
    text-decoration: none;
}
a:visited {
    font-size: 12px;
    color: #4183c4;
    text-decoration: none;
}
a:hover {
    font-size: 12px;
    color: #999999;
    text-decoration: underline;
}
ul {
    /*去掉ul li列表项的点*/
    /*list-style:none;*/

    /*去掉默认缩进*/
    margin: 0;
    padding: 0 0 0 10px;
}
li{
    /*去掉ul li列表项的点*/
    /*list-style-type:none;*/

    /*控制缩进距离 */
    margin-left:18px;
}
.main {
    clear:both;
}
.custom-toc {
    width: 20%;
    min-width: 200px;
    max-width: 400px;
    height: 100%;
    overflow-y:auto;
    /*overflow-x:auto;*/
    margin: 0 auto;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 100;
    border: 1px solid #ddd;
}
.markdown-toc {
    margin-bottom: 40px;
}
.markdown-html {
    width: 65%;
    min-width: 400px;
    max-width: 2000px;
    margin:0 auto;
    padding-left: 20%;
}
.markdown-html .appendTxt {
    display: none;
}