body {
    width: 50%;
    margin: 0 auto;
}

code {
    white-space: pre-wrap;
}

span.smallcaps {
    font-variant: small-caps;
}

span.underline {
    text-decoration: underline;
}

div.column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

ul {
    margin-bottom: 30px;
}

ul li {
    margin-bottom: 10px;
    font: "YaHei Consolas Hybrid", Consolas, "微软雅黑", "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, "Monaco", courier, monospace;
    font-size: 17px;
}

a {
    color: #4183c4;
    text-decoration: none;
}

a:hover {
    /*font-family: "宋体", serif;
    color: #FF0000;*/
    color: #fff;
    background: #2196F3;
    border-radius: 3px;
}

hr {
    color: #bfcace;
}