<?xml version="1.0" encoding="UTF-8"?>
<!--suppress UnparsedCustomBeanInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.sinobest.**.controller" />

    <!-- 开启mvc注解 -->
    <mvc:annotation-driven/>

    <!-- 第三步：配置静态资源 -->
    <mvc:resources location="/assets/" mapping="/assets/**"/>
    <mvc:resources location="/css/" mapping="/css/**"/>
    <mvc:resources location="/js/" mapping="/js/**"/>
    <mvc:resources location="/fonts/" mapping="/fonts/**"/>
    <mvc:resources location="/images/" mapping="/images/**"/>
    <mvc:resources location="/data/" mapping="/data/**"/>
    <mvc:resources location="/html/" mapping="/html/**"/>
    <mvc:resources location="/ws/" mapping="/ws/**"/>
    <mvc:resources location="/docs/" mapping="/docs/**"/>
    <mvc:resources location="/plug/" mapping="/plug/**"/>

    <!-- 视图解析器 -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 显然是控制文件上传的 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver" p:defaultEncoding="UTF-8">
        <property name="maxUploadSize" value="1024000000"/>
    </bean>

</beans>